/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono';
  
  /* --accent-color: #FF0070;
  --hover-color: #FF007066;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --text-color: #F1B2CE;
  --large-title-color: #DB00FF;
  --box-shadow-color: #FF0070;
  --span-shadow-color: #FF0070;
  --visibility-decor: block; */
  
}